/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
/* 
MAIN COLOR : ;
TINTS:;
GREY COLOR : #343a40 ;
HEADINGMainf: ;

BORDER RADIUS: 30px;
FONT WEIGHT:
Default: 400;
Medium: 500;
Semi-Bold: 600;
Bold: 700

letter-spacing: 
0.75px;
-0.5px
LINE-HEIGHT:
Default: 1
1.05
Paragraph default: 1.6
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
html {
  /*10 / 16 = 0.625 * 100 = 62.5 */
  /* 1rem = 1em = 16px */
  overflow-x: hidden;
  font-size: 62.5%;
  scroll-behavior: smooth;
  hyphens: auto;
}
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #343a40;
  overflow-x: hidden;
  scroll-behavior: smooth;
  hyphens: auto;
}
.header {
  height: 100vh;
  max-width: 100%;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to right bottom,
      rgb(4, 84, 95, 0.5),
      rgba(10, 35, 34, 0.508)
    ),
    url("../public/images/hero.jpg");
}
.headerAnimation {
  min-height: 60rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
}
.animatedHeadings {
  font-size: 6.2rem;
  font-weight: 600;
  color: #ced4da;
  text-transform: uppercase;
  line-height: 1.1;
  white-space: nowrap;
  height: 8rem;
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right, #f8f9fa, #ced4da);
  -webkit-background-clip: text;
  color: transparent;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input {
  position: relative;
  border: none;
  outline: none;
  padding: 2.8rem 3.2rem;
  height: 2.4rem;
  font-size: 1.8rem;
  width: 500px;
  color: #343a40;
  background: #ced4da;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
  border-radius: 3rem;
}
.icon {
  position: absolute;
  top: 0;
  right: 1rem;
  transform: translate(-50%, -50%);
  font-size: 2.8rem;
  color: #343a40;
  cursor: pointer;
  transition: color 0.3s ease;
}
.icon:hover {
  color: #222;
}
.btn {
  position: absolute;
  right: 0;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
/*container with books  */
main {
  background-image: linear-gradient(
    to right bottom,
    rgb(2, 75, 88),
    rgb(1, 49, 35)
  );
  margin-top: -2.5rem;
}
.container {
  width: 65%;
  margin: 0 auto;
  padding: 0.8rem 0;
  margin-top: 2.4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 0.5fr));
  align-items: center;
  justify-content: center;
  column-gap: 4.8rem;
  row-gap: 3.2rem;
  box-sizing: border-box;
}
.card {
  border-radius: 1rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  text-align: center;
  position: relative;
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.card:hover {
  transform: scale(0.9);
  background-color: #022b29;
}

.cardBook {
  width: 100%;
  height: 200px;
  border-radius: 1rem 1rem 0 0;
}
.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 0.8rem 0;
}
.title {
  color: #f1f3f5;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 2rem;
  line-height: 1;
  font-weight: 500;
  text-align: center;
  height: 130px;
}
.authors {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.8rem;
  font-weight: 700;
  color: rgb(120, 227, 229);
}
/* MODAL */
.overlay {
  background-image: linear-gradient(
      to right bottom,
      rgb(4, 84, 95, 0.5),
      rgba(10, 35, 34, 0.508)
    ),
    url("../public/images/herotwo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}
.overlayInner {
  background-color: rgba(6, 68, 104, 0.9);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.9);
  max-width: 700px;
  margin: 0 auto;
  min-height: 500px;
  padding: 4.8rem 3.2rem;
  position: relative;
  border-radius: 1rem;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 999;
}
.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 3.2rem;
  background-color: transparent;
  color: #010911;
  font-weight: 700;
}
.innerBox {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 1.2rem;
}
.modalImg {
  margin-right: 20px;
  width: 150px;
  height: 150px;
  display: block;
  border-radius: 1rem;
}
.infoModal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.8rem;
}
.modalTitle {
  color: #f1f3f5;
  line-height: 1.3;
  font-size: 2.4rem;
  font-weight: 600;
}
.modalAuthor {
  font-size: 1.6rem;
  color: #09ba9f;
}
.modalPublisher {
  font-size: 1.6rem;
  color: #011518;
}
.modalBtn {
  cursor: pointer;
  outline: none;
  border: none;
  width: 100px;
  border-radius: 1rem;
  background-color: #011518;
  color: #ced4da;
  font-weight: bold;
  padding: 0.5rem 0.8rem;
  font-size: 1.4rem;
  font-weight: 600;
}
.descriptionModal {
  font-size: 1.8rem;
  line-height: 1.7;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #011518;
  font-weight: 500 !important;
  margin: 1.4rem !important;
}
/*  */
.footer {
  background-color: #011411;
  color: #ced4da;
  padding: 2.4rem 4.8rem;
  text-align: center;
  border-top: 1px solid #2c2c2e;
}
.footerContent {
  max-width: 65%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
}
.footerLogo {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.8;
  margin-bottom: 0.5rem;
}
.footerText {
  font-size: 1.2rem;
  color: #a1a1a1;
}
/* Bellow 1200px */
@media (max-width: 75em) {
  html {
    /*9 / 16 = */
    /* 1rem = 1em = 16px */
    overflow-x: hidden;
    font-size: 56.25%;
    scroll-behavior: smooth;
    hyphens: auto;
  }
  .headerAnimation {
    min-height: 70rem;
    gap: 6.4rem;
  }
  .animatedHeadings {
    font-size: 5.2rem;
    font-weight: 600;
  }
}
/* Bellow 950px */
@media (max-width: 59.375em) {
  html {
    /*8 / 16 =  */
    /* 1rem = 1em = 16px */
    overflow-x: hidden;
    scroll-behavior: smooth;
    hyphens: auto;
    font-size: 50% !important;
  }
  .input {
    position: relative;
    width: 400px;
  }
  .descriptionModal {
    display: -webkit-box;
    -webkit-line-clamp: 12;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .infoModal {
    gap: 1rem;
  }
  .modalTitle {
    line-height: 1.4;
    font-size: 2.6rem;
  }
  .modalAuthor {
    font-size: 1.8rem;
  }
  .modalPublisher {
    font-size: 1.8rem;
  }
  .modalBtn {
    padding: 0.8rem 1.2rem;
    font-size: 2rem;
  }
}
/* Bellow 840px */
@media (max-width: 52.5em) {
  .headerAnimation {
    min-height: 70rem;
    gap: 6.4rem;
  }
  .animatedHeadings {
    font-size: 4.4rem;
    font-weight: 700;
  }
  .input {
    position: relative;
    width: 400px;
  }
  .overlayInner {
    max-width: 580px;
    max-height: 500px;
    padding: 3.2rem;
    z-index: 999;
  }
  .modalTitle {
    font-size: 2.4rem;
  }
  .modalAuthor {
    font-size: 1.6rem;
  }
  .modalPublisher {
    font-size: 1.6rem;
  }
  .modalBtn {
    font-size: 1.8rem;
  }
  .descriptionModal {
    display: -webkit-box;
    -webkit-line-clamp: 12;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
/* Bellow 640px */
@media (max-width: 40em) {
  .headerAnimation {
    min-height: 70rem;
    gap: 4.8rem;
  }
  .animatedHeadings {
    font-size: 3.6rem;
    font-weight: 700;
  }
  .input {
    position: relative;
    width: 380px;
  }
  .overlayInner {
    max-width: 450px;
    max-height: 600px;
    padding: 3.2rem;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 999;
  }
  .infoModal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.4rem;
  }
  .modalTitle {
    font-size: 2.2rem;
  }
  .modalBtn {
    padding: 0.5rem 0.8rem;
    font-size: 1.8rem;
    font-weight: 500;
  }
}
/* Bellow 560px */
@media (max-width: 35em) {
  .headerAnimation {
    min-height: 70rem;
    gap: 4.8rem;
  }
  .animatedHeadings {
    font-size: 3rem;
    font-weight: 700;
  }
  .input {
    position: relative;
    width: 350px;
  }
  .overlayInner {
    max-width: 380px;
    height: 450px;
    padding: 1.8rem;
  }
  .infoModal {
    gap: 1rem;
  }
  .modalTitle {
    font-size: 2rem;
  }
}
/* Bellow 440px */
@media (max-width: 27.5em) {
  .headerAnimation {
    min-height: 70rem;
    gap: 4.8rem;
    hyphens: auto;
  }
  .animatedHeadings {
    font-size: 2.6rem;
    font-weight: 700;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    hyphens: auto !important;
  }
  .input {
    position: relative;
    width: 300px;
  }
  .overlayInner {
    max-width: 300px;
    height: 500px;
    padding: 1.8rem;
  }
  .infoModal {
    gap: 0.8rem;
  }
  .modalImg {
    margin-right: 10px;
    width: 100px;
    height: 130px;
  }
  .modalTitle {
    font-size: 1.8rem;
  }
  .modalAuthor {
    font-size: 1.4rem;
  }
  .modalPublisher {
    font-size: 1.4rem;
  }
  .descriptionModal {
    font-size: 1.6rem;
    display: -webkit-box;
    -webkit-line-clamp: 15;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .footerLogo {
    font-size: 1.4rem;
    line-height: 1.5;
  }
  .footerText {
    font-size: 1.2rem;
    color: #a1a1a1;
  }
}
/* Bellow 400px */
@media (max-width: 25em) {
  .headerAnimation {
    min-height: 70rem;
    gap: 3.2rem;
    hyphens: auto;
  }
  .animatedHeadings {
    font-size: 2.4rem;
    font-weight: 700;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    hyphens: auto !important;
  }
  .input {
    position: relative;
    width: 280px;
    font-size: 1.6rem;
  }
}
/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
